<div class="card">
  <h2 [ngStyle]="{
    color: title.length < 5 ? 'red' : 'green',
    fontWeight: title.length < 7 ? 'normal' : 'bold'
  }">{{title}}</h2>

  <p class="text"
     [class.blue]="textColor === 'blue'"
     [class.green]="textColor === 'green'"
     [class.red]="textColor === 'red'"
  >{{text}}</p>

  <div class="buttons">
    <button (click)="textColor = 'blue'">Set Blue</button>
    <button (click)="textColor = 'green'">Set Green</button>
    <button (click)="textColor = 'red'">Set Red</button>
  </div>

  <div class="buttons">
    <button (click)="changeTitle()">Change title</button>
    <button (click)="title = 'Inline title'">Change title inline</button>
  </div>

  <div>
    <input type="text" [(ngModel)]="title" (ngModelChange)="changeHandler()">
  </div>
</div>
